body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin: 50px;
}

span {
  color:  red;
  margin-right: 10px;
}

.wrapper .newCurrency {
  border: 2px solid #717171;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
  max-width: 280px;
}

.wrapper .newCurrency__add {
  max-width: 250px;
  padding: 6px 10px;
  font-size: 22px;
}

.wrapper .newCurrency__help {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 10px 0 5px;
}

.wrapper .newCurrency__help .newCurrency__help_elem {
  padding: 5px 7px;
  background: #BEBEBE;
  border-radius: 15px;
  margin-right: 5px;
  color: #fff;
  font-size: 14px;
}

.wrapper .newCurrency__btnAdd {
  margin-top: 20px;
  color: #fff;
  background: #1C95DB;
  text-decoration: none;
  padding: 11px 19px;
  border-radius: 5px;
}

.wrapper .list-currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
}

.wrapper .currency {
  border: 2px solid #717171;
  padding: 35px;
  border-radius: 10px;
  margin: 0px 40px 20px 0px;
}

.wrapper .currency__name {
  font-size: 24px;
  text-align: center;
  margin: 0px;
}

.wrapper .currency__price {
  text-align: center;
  font-size: 22px;
  margin-bottom: 35px;
}

.wrapper .currency__btnDel {
  color: #fff;
  background: #1C95DB;
  text-decoration: none;
  padding: 11px 22px;
  border-radius: 5px;
}

.btn {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.wrapper .bdColor {
  border: 2.5px solid #B43ED1;
}

.wrapper .newCurrency__help .dsNone {
  display: none;
}

.wrapper .newCurrency__help .dcNone {
  display: none;
}

.wrapper .ddNone {
  display: none;
}